{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "globals": { 
        "L" : false,
        "Runtime" : false,
        "Module" : true
    },
    "rules": {
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-mixed-spaces-and-tabs": "off",
        "no-implicit-globals" : "error",
        "eqeqeq" : "error",
        "no-unused-vars": [
            "error", { 
                "vars": "all", 
                "args": "none" 
            }
        ]
    },
    "parser": "@typescript-eslint/parser",
    "overrides": [{
        "files": ["**/*.ts"],
        "extends": [
            "plugin:@typescript-eslint/eslint-recommended",
            "plugin:@typescript-eslint/recommended"
        ]
    }]
}