{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "@typescript-eslint/no-namespace": ["error", {"allowDeclarations": true}],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-mixed-spaces-and-tabs": "off",
        "no-implicit-globals" : "error",
        "eqeqeq" : "error",
        "no-unused-vars": [
            "error", { 
                "vars": "all", 
                "args": "none" 
            }
        ]
    },
    "parser": "@typescript-eslint/parser",
    "overrides": [{
        "files": ["**/*.ts"],
        "extends": [
            "plugin:@typescript-eslint/eslint-recommended",
            "plugin:@typescript-eslint/recommended"
        ],
        "rules": {
            "@typescript-eslint/ban-ts-comment": ["error", { "ts-ignore": "allow-with-description" }]
        }
    }]
}